.cover {
    color: #FFFFFF;
    max-width: 1184px;
    min-height: 740px;
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0.3;
}
.cover::before {
    content: "";
    max-width: 1184px;
    height: 740px;
    width: 100%;
    position: absolute;
    display: inline-block;
    background-image: url('../../images/cover-trains.jpg');
    background-size: contain;
    top: 0;
    left: 0;
}
.cover:hover::before {
    opacity: 0.8;
}
@media (min-width: 1024px) and (max-width: 1279px) {
    .cover {
            max-width: 1024px;
            max-height: 740px;
        }
}
@media (min-width: 768px) and (max-width: 1023px) {
    .cover {
            max-width: 768px;
            min-height: 480px;
        }
}
@media (min-width: 320px) and (max-width: 767px) {
    .cover {
            max-width: 320px;
            min-height: 200px;
        }
}
