@font-face {
    font-family: Inter;
    font-weight: 400;
    src: url('../vendor/Inter-Regular.ttf');
}

@font-face {
    font-family: Inter;
    font-weight: 900;
    src: url('../vendor/Inter-Black.ttf');
}