.footer {
    margin: 92px 0 24px 0;
    max-width: 1184px;
    width: 100%;
    color: #FFFFFF;
    display: flex;
    justify-content: space-between;
}
@media (min-width: 1024px) and (max-width: 1279px) {
    .footer {
            max-width: 928px;
        }
}
@media (min-width: 768px) and (max-width: 1023px) {
    .footer {
            max-width: 720px;
        }
}
@media (min-width: 768px) and (max-width: 1023px) {
    .footer {
            margin-top: 88px;
        }
}
@media (min-width: 320px) and (max-width: 767px) {
    .footer {
            max-width: 320px;
        }
}
@media (min-width: 320px) and (max-width: 767px) {
    .footer {
            max-width: 288px;
            margin-top: 64px;
            flex-direction: column;
        }
}