.place__url-heading {
    margin: 0;
    margin-bottom: 12px;
    max-width: 456px;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 12px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #AAAAAA;
}